.menu
{

    height: 100vh;
    width:100%;
    background-color: #191919;
    background-image: url(../../../../Mapage/charismatique-joyeuse-jolie-femme-afro-americaine-coupe-cheveux-boucles-portant-chemise-tenant-mains-poches-confiant-souriant-sortant-parlant-conversation-agreable-se-sentant-lui-detendu.jpg);
     background-position: center;
    background-size: cover;
}
*{
 padding: 0;
 margin: 0;
 font-family: 'Josefin Sans' ,sans-serif;
 box-sizing: border-box;


}
nav
{

    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li
{
list-style-type: none;
display: inline-block;
padding: 10px 15px ;
}
nav ul li a
{
 color:rgba(174, 41, 174, 0.8) ;
 text-decoration:  none;
text-transform: capitalize;

}
nav ul li  a:hover
{ color:  #fd04a27e;

}


.logo
{
    color:rgba(204, 194, 194, 0.71);
    font-size: 35px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 4s;

}
span
{
color:rgba(174, 41, 174, 0.8);
text-decoration:  none;
text-transform: capitalize;

}
.btn
{
 color: white;
 background-color:rgba(174, 41, 174, 0.8);
 text-decoration: none;
 border: 2px solid transparent;
 font-weight: bold;
 padding: 5px 10px ;
 border-radius: 15px ;
 transition: transform .4s;
 position: relative;
 left: 10%;
 box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;

}
.about img
{
    width: 450px;
    height: auto;
    border-radius: 50%;
   
}
.content
{
    position: absolute;
    top: 40%;
    left: 23%;
    transform: translate(-50%);


}
h1{
    color: rgba(174, 41, 174, 0.8);
 margin: 20px 0px 5px;
 font-size: 50px;
 font-family:Georgia, 'Times New Roman', Times, serif;
}
h3{
 font-size: 25px;
 margin-bottom: 20px;
 
}
h4{

     color: black;
     letter-spacing: 1px;
     font-size: 20px;

}
.newslatter form
{
 width: 380px;
 max-width: 100%;
 position: relative;

}
.newslatter  form input:first-child{
display: inline-block;
width: 100%;
padding: 14px 130px 14px 15px;
border: 2px solid rgba(174, 41, 174, 0.8);
outline: none;
border-radius: 30px;
}
.newslatter  form input:last-child{
 position: absolute;
 display: inline-block;
 outline: none;
 border: none;
 padding: 15px 30px;
 border-radius: 30px;
 background-color: rgba(174, 41, 174, 0.8);
 color: aliceblue;
box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;

}





.about
{
    max-width:100%;
    padding: 100px 5px;
    background-color: rgb(237, 237, 237);
    
}

.about-text
{
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: 5%;
    font-style: italic;
}

.about img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    
}
/*.about {
    width: 100%;
    padding: 100px 5px;
    display: inline-block;
    align-items: center;
}

.about-text {
    margin-left: 2px; /* Ajoutez une marge à gauche pour l'espace entre l'image et le texte 
    font-family: 'kalnia', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(204, 194, 194, 0.71);
    width: 75%;
}

.about img {
    width: 30%;
    height: auto;
    border-radius: 50%;
}*/

.main
{  width: 1130px;
    max-width: 100%;
    max-height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 25 auto;
   

}

.about-text h2{
    color: rgba(174, 41, 174, 0.8);
    font-family: 'lucida calibria';
    margin-bottom: 8px;
    margin-top: 2%;

}

.derniere
{
    background-image: url(https://image-tc.galaxy.tf/wijpeg-2mgior3aho0wlusf0p6652o69/yaas-hotel-dakar-almadies-lobby_wide.jpg?crop=0%2C101%2C1920%2C1080);
}

.tout
{
    background-color:rgb(237, 237, 237);
    width: 100%;
    height: auto;
    padding-top: 0px 0px;
    padding-bottom: 80px;
}
.box
{
display: flex;
justify-content: center;
align-items: center;
min-height: 400px;
}
.card
{
    height: 500px;
    width: 750px;
    padding: 20px 35px;
    background: rgb(222, 217, 217);
    border-radius: 50px;
    margin: 25px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card h2{
    color: rgba(174, 41, 174, 0.8);
    font-family: 'lucida calibria';
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
#icon
{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}


#bouton
{

    color: white;
    background-color:rgba(174, 41, 174, 0.8);
    text-decoration: none;
    border: 10px solid transparent;
    font-weight: bold;
    padding: 10px 10px ;
    border-radius: 15px ;
    transition: transform .4s;
    position: relative;
    left: 2%;
    box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;
}                               