<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
        <link rel= "stylesheet" href="../Fichier CSS P1.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <h2 class="logo">portfo <span>lio</span></h2>
                <ul>
                    
                    <li> <a href="#">Acceuil</a></li>
                    <li> <a href="#">Cv</a></li>
                    <li> <a href="#">Portfolio De Competences </a></li>
                    <li> <a href="#">Contact</a></li>
               
                </ul>
                <a href="#aboutSection" class="btn" id="enSavoirPlusBtn">En savoir plus </a>
                <label id="icon">
                    <i class="fas fa-bars"></i>
                </label>

        </nav>
        <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
